<% provide(:title, 'About') %>
		<h1>About</h1>
<div class="row-fluid">
	<div class="span8 offset2">

		<h2>What is Haruka?</h2>
		<p>asdf</p>
			
		<h2>Cool, so What can I Do Here?</h2>


		<h2>I love this, how can I do more?</h2>

		<h2>This is seriously fucked up.</h2>

	</div>	
</div>
