var name = "<%= escape_javascript(@term.name) %>"
$('#notice').append('<div class=" alert-temp alert alert-success">You voted down '+name+' <a class="close" data-dismiss="alert" href="#">&times;</a></div>');

$('.alert-temp').alert();
window.setTimeout(function() { $(".alert-temp").alert('close'); }, 2000);