var name = "<%= escape_javascript(@term.name) %>"
$('#notice').append('<div class="alert-temp alert alert-success fade in">You voted up '+name+' <a class="close" data-dismiss="alert" href="#">&times;</a></div>');

function fadeAlert() {
   $(".alert-temp").removeClass("in");
  }

function removeAlert() {
   $(".alert-temp").remove();
}


window.setTimeout(function () {
    fadeAlert();
}, 1000);

window.setTimeout(function () {
    removeAlert();
}, 3000);