<% if @term.phrases.any? %>
	<h2>Phrases</h2>
	<ol>
		<% @term.phrases.each do |phrase| %>
			<li>
				      <% if signed_in? %>
					      <% if current_user.admin? %>
					       <p>
					        <%= render 'shared/delete_mini', object: [phrase.term, phrase] %>
					      	</p>
					      <% end %>
				      <% end %>
					<p><small><em>"<%= phrase.japanese %>"</em></small></p>
					<p><small><em>"<%= phrase.english %>"</em></small></p>

			</li>
		<% end %>
	</ol>
<% end %>

