
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <p>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>

       <%= render 'shared/delete_mini', object: user %>
      
        <% if user.admin? %>

       <%= link_to "Remove Admin", destroy_admin_user_path(user), class: "btn btn-mini btn-inverse" %>
       <% else %>
		<%= link_to "Make Admin", make_admin_user_path(user), class: "btn btn-mini" %>
       <% end %>

       <% end %>
      </p>
    </li>
  <% end %>

  <script type="text/javascript">
  #('.commit').addClass('dismiss')
  </script>

</ul>