<% if object.errors.any? %>
  <div id="error_explanation">
<!--     <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div> -->
    <ul class="unstyled">
    <% object.errors.full_messages.each do |msg| %>
      <li><div class="alert alert-error"><small><%= msg %></small></div></li>
    <% end %>
    </ul>
  </div>
<% end %>