
<div class="center hero-unit">
<h1>Welcome to the Ero Dictionary</h1>
<h2>Trying to look up some twisted Japanese stuff? We got you.</h2>
<%= link_to "Enter the Dictionary", terms_path, class: "btn btn-large btn-primary" %>
</div>