RECAPTCHA_PUBLIC_KEY: ''
RECAPTCHA_PRIVATE_KEY: ''

GMAIL_USERNAME: ''
GMAIL_PASSWORD: ''

SPLASH: '遼'
NAME: 'Haruka'
TAGLINE: 'A Japanese to English Dictionary Authored by the Internet.'
DISCLAIMER: 'By Robin Willis, use it any way you like.'