@import "bootstrap";
@import "bootstrap-responsive";

body{
	padding-top: 60px;
  background:#f7f7f7;
  background-color:rgb(247,247,247);
}

a{
 color:#ea6da4;
}

a:hover,a:focus{
  text-decoration: none;
  color:red;
}



@media (min-width: 979px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
		
	}
}

 .navbar-fixed-top, .navbar-fixed-bottom {
      position:fixed !important;
      margin-left: 0px;
      margin-right: 0px;
  }

  .navbar-inner{
  	  padding-top: 0 !important;
      padding-bottom: 0 !important;
  }
  

textarea {
	height: 110px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

//Fonts

body {
  font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro","メイリオ", meiryo, Arial, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;

}

.hero-unit{
  background-color:transparent;
}

.hero-unit h1{
 
  font-family: "Hiragino Kaku Gothic Std", "ヒラギノ角ゴ Std W8","Arial Black", Arial, sans-serif;
  font-weight: bold;
  font-size: 90px;
  color:#000;
}

h2, h3{
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
font-weight: 100;

}

.hero-unit h2   {
  font-size:60px;
line-height:80px;
color:#000;
}

// NAVBAR TOP
.navbar .brand{
  color:#b2b2b2;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: 100;
  color:#777;
}

.navbar .nav > li > a {
  color:#b2b2b2;
  font-size: 10px;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
  background:#f7f7f7;
  background-color:rgb(247,247,247);
  border-bottom: 1px solid #d2d2d2;
  -moz-box-shadow: 0 4px 2px -2px #fff;
  -webkit-box-shadow: 0 4px 2px -2px #fff;
  box-shadow: 0 4px 2px -2px #fff;
}

.navbar .btn-navbar .icon-bar {

  background-color:#d2d2d2;

}

@media (max-width: 979px){
  .nav-collapse .navbar-form, .nav-collapse .navbar-search {
    border-bottom:none;
    border-top:none;
}

.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
 background-color: transparent;/*you can change this color to anything*/
 border-bottom: 1px solid #d2d2d2;
 border-radius:0px;
  }
 
}


//Buttons

.btn{
  border-radius:2px;
}

.btn-pink {
background-color: hsl(346, 100%, 79%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa8bc", endColorstr="#ff93ac");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa8bc), to(#ff93ac));
  background-image: -moz-linear-gradient(top, #ffa8bc, #ff93ac);
  background-image: -ms-linear-gradient(top, #ffa8bc, #ff93ac);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa8bc), color-stop(100%, #ff93ac));
  background-image: -webkit-linear-gradient(top, #ffa8bc, #ff93ac);
  background-image: -o-linear-gradient(top, #ffa8bc, #ff93ac);
  background-image: linear-gradient(#ffa8bc, #ff93ac);
  border-color: #ff93ac #ff93ac hsl(346, 100%, 78%);
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.06);
  -webkit-font-smoothing: antialiased;
}


//Forms


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
border-radius:3px;
}