.hero-unit{
  background-color:transparent;
}

.hero-unit h1{
 
  font-family: "Hiragino Kaku Gothic Std", "ヒラギノ角ゴ Std W8","Arial Black", Arial, sans-serif;
  font-weight: bold;
  font-size: 90px;
  color:#000;
}

.hero-unit h2   {
  font-size:60px;
line-height:80px;
color:#000;
}